<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <title>
   Document
  </title>
 </head>
 <body>
  <h1>
   Encurtador de URL
  </h1>
  <form method="POST">
   <label for="url">
    "Insira a URL que deseja encurtar:
   </label>
   <input id="url" name="url" required="" type="url"/>
   <br/>
   <br/>
   <input type="submit" value="Encurtar"/>
  </form>
  <a href="/t5en24">
   http://localhost:5000/t5en24
  </a>
  <br/>
  <a href="/YGznsB">
   http://localhost:5000/YGznsB
  </a>
  <br/>
  <a href="/bJn0Qf">
   http://localhost:5000/bJn0Qf
  </a>
  <br/>
 </body>
</html>
